[Unit]
Description=SCPI server for Red Pitaya
After=network.target

[Service]
Type=simple
Restart=always
Environment=LD_LIBRARY_PATH=/opt/redpitaya/lib
Environment=RUST_LOG=warn
ExecStartPre=/bin/sh -c "cat /opt/redpitaya/fpga/fpga_0.94.bit > /dev/xdevcfg"
ExecStart=/opt/yellow-pitaya/bin/scpi-server
ExecStop=/bin/kill -15 $MAINPID

[Install]
WantedBy=multi-user.target
